syntax:glob
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
*ReSharper*
*.suo
*.user
*.rej
*.InstallLog
*.ipch
*.cache
*.log
*.ncb
_deploy
.deploy
.temp
.nuget/NuGet.exe
.svn
.vs
.nuget/NuGet.exe
*.received.txt
syntax: glob
*.sdf
*.obj
.battle_deploy/*
BattleDeploy/.battle_deploy/*
*.orig
Runner/Config.bat
*.opensdf
*[Ll]ogs/
*.tss
Runner/config.bat
packages/
.battle_deploy2/*
node_modules/
.idea/
dist
webpack-assets.json
*/**/Metrics/*.csv
*/**/Mocks/*MockFile.txt
.vs
.vscode