.navigation {
  display: flex;
  padding: 0.3em;
  align-items: center;
  border-top: 1px solid grey;
}

.navigationItem {
  width: 33%;
  height: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid grey;

  &:last-child {
    border-right: none;
  }
}