.navigation {
  display: flex;
  padding: 1em;
  align-items: center;
  border-top: 1px solid grey;
}

.navigationItem {
  width: 33%;
  text-align: center;
  border-right: 1px solid grey;

  &:last-child {
    border-right: none;
  }
}