@{
    ViewBag.Title = "Иван Урбант";
}

<div id="root" class="root"></div>

<script>
//получаем текущий, если нету 404
// fetch('/api/UserInfoes', {method: 'GET'})
//   .then(function(response) {
//       if(response.status === 404){
//           console.log('not inititalized');
//       }
//     return response.json();
//    })
//    .then(function (value) {
//        console.log(value);
//      })
//создание нового
//fetch('/api/UserInfoes', {method: 'POST', headers: new Headers({'content-type': 'application/json'}), body:JSON.stringify({Level:1, LevelUpPercentage: 10, SelectedType: 1})});
//обновление
//fetch('/api/UserInfoes', {method: 'PUT', headers: new Headers({'content-type': 'application/json'}), body:JSON.stringify({Level:2, LevelUpPercentage: 15, SelectedType: 1})});
</script>