@{
    ViewBag.Title = "Иван Урбант";
}

<div id="root" class="root"></div>
<script>
fetch('/api/UserInfoes', {method: 'GET'})
  .then(function(response) {
    return response.json();
   })
   .then(function (value) {
       console.log(value);
     })
 //fetch('/api/UserInfoes', {method: 'POST', headers: new Headers({'content-type': 'application/json'}), body:JSON.stringify({level:1, exp: 10, avatar: 1, coins: 10, name:'ivan'})});
 //fetch('/api/Cards/1', {method: 'PUT', headers: new Headers({'content-type': 'application/json'})});
</script>