.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1em 1.2em;
  z-index: 100;
}

.modalBack {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0f0f0f;
  opacity: 0.6;
  z-index: 200;
}

.modalContent {
  height: 100%;
  //background-color: #f1f1f1;
  position: relative;
  z-index: 300;
}

.modalClose {
  position: absolute;
  top: 1em;
  right: 1em;
  z-index: 350;
  cursor: pointer;

  &:before {
    content: "\2573";
    color: white;
    font-size: 2em;
  }
}

.solid {
  padding: 3px;

  .modalClose:before {
    color: #E46C4E;
  }

  .modalBack {
    background-color: #F7D283;
    opacity: 1;
    border: 3px solid #E46C4E;
  }
}
